<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Cricket Board</h1>
    <p>Cricket Series Data</p>
    <a href="/series/info" class="btn">Series Info</a>
    <a href="/scoreBoard" class="btn">Score Board</a>
    <a href="/teams" class="btn">Teams</a>
    <a href="/search" class="btn">Search any Player</a>
  </body>
</html>
