<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      pre {
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        padding: 10px;
        overflow-x: auto;
      }
    </style>
  </head>
  <body>
    <h1>Score Board</h1>

    <h2>JSON Response:</h2>
    <pre>
      <%= JSON.stringify(scoreBoard, null, 2) %>
    </pre>
  </body>
</html>
