<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cricket Board</title>
  </head>
  <body>
    <h1>Teams</h1>
    <div>
      <a href="/teams/player" class="btn">Player Details</a>
    </div>
  </body>
</html>
